
/* Hamburger Menu */
@media only screen and (max-width: 61.9375em){  /* 991px */
    .hide-mobile{
        display: none;
    }
}

@media only screen and (min-width: 62em){ /* 992px */
    .hide-desktop{
        display: none;
    }
}


/* ======================== Padding ======================== */

@media only screen and (max-width: 35.9375em){ /* Padding Mobile (575px) */
    .header{
        padding: 0px 12px;
    }
}


/* ======================== CONTAINERS ======================== */

                                /* 0px */
@media only screen and (min-width: 0em){ /* Container Max */
    .container-max{
        width: 100%;
    }
}
                                /* 576px */
@media only screen and (min-width: 36em){  /* Small devices (portrait tablets and large phones)*/
    .container{
        max-width: 540px;
        margin: auto auto;
    }
}
                                /* 768px */
@media only screen and (min-width: 48em){ /* Medium devices (landscape tablets) */
    .container{
        max-width: 720px;
        margin: auto auto;
    }
}
                                /* 992px */
@media only screen and (min-width: 62em){ /* Large devices (laptops/desktops) */
    .container{
        max-width: 960px;
        margin: auto auto;
    }
}

                                /* 1200px */
@media only screen and (min-width: 75em){  /* Extra large devices (large laptops and desktops, 1200px and up) */
    .container{
        max-width: 1140px;
        margin: auto auto;
    }
}
                                /* 1400px */
@media only screen and (min-width: 87.5em){ 
    .container{
        max-width: 1320px;
        margin: auto auto;
    }
}